@page
@model UpdateModel
@{
    ViewData["Title"] = "Student Deatail";
}

<div class="text-center">
    <div class="display-4">@Model.StudentDTO.StudentId</div>
    <div class="display-4">@Model.StudentDTO.StudentName</div>
</div>
