@model RazorPagesSample.ServiceLayers.DTOs.StudentDTO
@{
    Layout = "_Layout";
}

<div class="text-center">
    <div class="display-4">@Model.StudentId</div>
    <div class="display-4">@Model.StudentName</div>
</div>
